<h1>Hello</h1>
<!-- <button id="name" (click)="getFullName(box1.value)">Click Me</button> -->
<br><br>
<input type="text" #box1 (keydown)="getFullName(box1.value)">
<br><br>
<input type="text" #box2 (keyup)="getFullName(box2.value)">
<br><br>
<input type="text" #box3 (input)="getFullName(box3.value)">
<br><br>
<input type="text" #box4 (mouseleave)="getFullName(box4.value)">
<br><br>
<input type="text" #box5 (mouseenter)="getFullName(box5.value)">
<br><br>
<input type="text" #box6 (blur)="getFullName(box6.value)">